# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Mapplotlib
4. Seaborn
5. keras

|Data Science Tools|
|------------------|
|Jupyter|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* List of popular languages for Data Science
* List of libraries used in Data Science
* Ordered List creation
* Multiply and Addition expression

## Author
Anuj Tomar